# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
venv requirements.txt
.DS_Store


# Virtual Environments (so you don't upload your 200MB .venv)
.venv/
venv/
ENV/

# Data and Results (since you're generating CSVs and Parquets)
*.csv
*.parquet
*.log
*.zip

# IDE specific files
.vscode/
.idea/

# output files
*.png
*.jpg
*.jpeg
plots/
checkpoints_DQL_24h/
checkpoints_PPO_48h/
checkpoints_PPO_1000km_500UE_24h/